<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <!-- "example.logging" is resolved as a Spring property from application.yml -->
  <springProperty scope="context" name="consoleLogPattern" source="example.logging"/>
  <property name="CONSOLE_LOG_PATTERN" value="${consoleLogPattern}"/>

  <!-- include standard Spring Boot logback configuration -->
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <logger name="examples" level="INFO"/>
  <logger name="me.paulschwarz.springdotenv" level="TRACE"/>
</configuration>
