<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

  <bean id="value1" class="java.lang.String">
    <constructor-arg value="${example.value1}" />
  </bean>

  <bean id="value2" class="java.lang.String">
    <constructor-arg value="${example.value2}" />
  </bean>

  <bean id="value3" class="java.lang.String">
    <constructor-arg value="${example.value3}" />
  </bean>
</beans>
